/** Estilos base de texto */

html {
  font-family: var(--font);
  font-size: 16px;
}
body {
  color: var(--text-color);
}
a {
  color: var(--link-color);
  transition: all 0.5s ease-out;
  text-decoration: none;
}

h1 {
  margin: 0;
  font-size: 2rem;
}

h2 {
  margin: 0;
  font-size: 2rem;
}

h3 {
  margin: 0;
  font-size: 1.25rem;
}

h4 {
  margin: 0;
  font-size: 1rem;
}

h5 {
  margin: 0;
  font-size: 0.85rem;
}

h6 {
  margin: 0;
  font-size: 0.7rem;
}

i {
  color: var(--link-color);
  transition: all 0.5s ease-out;
  text-decoration: none;
}

p {
  line-height: 1.6;
}
